.signInSignUpToggle {
	display: flex;
	padding: 0.3125rem;
	align-items: center;
	align-self: stretch;

	border-radius: 0.625rem;
	border: 1px solid #27272a;
	background: rgba(24, 24, 27, 0.6);
}

.signInToggle {
	display: flex;
	flex: 1;
	padding: 0.46875rem 0 0.53125rem 0;
	justify-content: center;
	align-items: center;

	text-decoration: none;

	color: #fff;
	text-align: center;
	font-family: Inter;
	font-size: 1rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.5rem; /* 150% */
	letter-spacing: -0.0195rem;
}

.signUpToggle {
	display: flex;
	flex: 1;
	padding: 0.46875rem 0 0.53125rem 0;
	justify-content: center;
	align-items: center;

	border-radius: 0.5rem;
	background: none;
	border: none;

	text-decoration: none;

	color: #fff;
	text-align: center;
	font-family: Inter;
	font-size: 1rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.5rem; /* 150% */
	letter-spacing: -0.0195rem;
}

.active {
	border-radius: 0.5rem;
	background: linear-gradient(90deg, #9810fa 0%, #c800de 100%);
}
